body{ 
    display: block;
    background-color: rgb(153, 223, 153);

}
.cointainer{

    
        display: grid;
        background-color: aliceblue
        grid-template-rows: ;
        grid-template-columns: ;
        gap: 10px;
    
}
.cointainer div{ 

    text-align: center;
    line-height: 70px;
    font-size: ;

}

.secren{
     grid-column-start: 1;
    grid-column-end: 5;
    
}

.c{
    background-color: red;


}